*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f3f4f6;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.app{
    background:white;
    width:400px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#2563eb;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border:2px solid #ddd;
    border-radius:8px;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

#contador{
    margin:15px 0;
    font-weight:bold;
}

ul{
    list-style:none;
}

li{
    background:#f9fafb;
    margin:10px 0;
    padding:12px;
    border-radius:8px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.concluida{
    text-decoration:line-through;
    color:gray;
}

.botoes{
    display:flex;
    gap:5px;
}

.concluir{
    background:#22c55e;
}

.excluir{
    background:#ef4444;
}